<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <strong><%= pluralize(@question.errors.count, "error") %> prohibits you from creating a new question:</strong>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>

  <div class="form-group col-lg-10">
    <%= f.label :title %><br>
    <%= f.text_field :title, :class => "form-control", placeholder: "What's your programming question? Be specific." %>
  </div>
  <div class="form-group col-lg-10">
    <%= f.label :body %><br>
    <%= f.text_area :body, :class => "form-control", :rows => 6, :required => "yes" %>
  </div>
  <div class="form-group col-lg-10">
    <%= f.label :tag_names, 'Tags' %> <br>
    <%= f.collection_select(:tag_names, Tag.all, :id, :name, {}, { class: "form-control", multiple: "true"})%>   
  </div>
  <div class="form-group col-lg-10">
    <%= f.submit "Post Your Question", :class => "btn btn-primary" %>
  </div>
<% end %>
