<% content_for :sidebar_tag_home do %>
  active
<% end %>

<div class="container">
  <% if user_signed_in? %>
    <%= link_to 'Ask Question', new_question_path, :class => "btn btn-primary pull-right", :method => :get %>
  <% end %>
  <h4><%= @title %> </h4>
  <br>
  <div class="btn-group pull-right table-filters" role="group" aria-label="Button Filters">
    <a type="button" href="<%= questions_path(:filter => "answered", :sort => params[:sort], :direction => params[:direction]) %>" class="btn btn-outline-secondary <%= @answered %>">Answered</a>
    <a type="button" href="<%= questions_path(:filter => "un_answered", :sort => params[:sort], :direction => params[:direction]) %>" class="btn btn-outline-secondary <%= @un_answered %>">Unanswered</a>
    <% if user_signed_in? %>
      <a type="button" href="<%= questions_path(:filter => "answered_by_me", :sort => params[:sort], :direction => params[:direction]) %>"  class="btn btn-outline-secondary <%= @by_me %>">Asked By Me</a>
    <% end %>
    <a type="button" href="<%= questions_path(:filter => "none", :sort => params[:sort], :direction => params[:direction])%>" class="btn btn-outline-secondary <%= @top_q %>">Top Questions</a>
  </div>
  <br><br>
   <div class="btn-group pull-right table-sorting" role="group" aria-label="Button Filters">
    <%= sortable "created_at", 'Posted Date', params[:filter], params[:search_txt] %>
    <%= sortable "title", 'Title', params[:filter], params[:search_txt] %>
    <%= sortable "answer_count", '# of Answers', params[:filter], params[:search_txt] %>
  </div>
  <p class="pull-right" style="padding-top: 10px; margin-right: 10px;">Sort By: </p>
  <table class="table questions-table col-lg-12">
    <thead>
      <%= will_paginate @questions, :class => 'my_pagination' %>
      <tr>
        <th style="width: 15%"></th>
        <th style="width: 75%"></th>
      </tr>
    </thead>
    <tbody>
      <%= render @questions %>
    </tbody>
  </table>
  <br>
</div>