<tr>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td>
    <label class="switch">
      <% if user.is_active? %>
        <% if user.is_admin? %>
          <input data-user-id="<%=user.id%>" class="admin-checkbox" type="checkbox" checked disabled>
        <% else %>
          <input data-user-id="<%=user.id%>" class="admin-checkbox" type="checkbox" checked>
        <% end %>
      <% else %>
        <input data-user-id="<%=user.id%>" class="admin-checkbox" type="checkbox">
      <% end %>
      <span class="slider round"></span>
    </label>  
  </td>
  <td><%= user.is_admin %></td>
  <td><%= link_to 'Show', user %></td>
  <td><%= link_to 'Edit', edit_user_path(user) %></td>
  <td><% unless user.is_admin? %>
    <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %></td>
</tr>