<div class="sidebar col-lg-2 pull-left">
  <nav class="nav flex-column justify-content-end">
    <a class="nav-link <%= yield :sidebar_tag_home %>" href="<%= questions_path %>">Home</a>
    <a class="nav-link <%= yield :sidebar_tag_questions %>" href="#"><i class="fas fa-globe-americas"></i>  Stack Overflow</a>
    <ul>
      <li><a class="nav-link" href="#"> Tags</a></li>
      <% if user_signed_in? %>
      <li><a class="nav-link <%= yield :sidebar_tag_users %>" href="<%= user_path(current_user.id) %>"> Users</a></li>
      <% else %>
      <li><a class="nav-link <%= yield :sidebar_tag_users %>" href="<%=new_user_session_path%>"> Users</a></li>
      <% end %>
      <li><a class="nav-link" href="#"> Jobs</a></li>
      <% if can? :manage, User %>
        <li><a class="nav-link <%= yield :sidebar_tag_manage_users %>" href="<%= users_path %>">Manage Users</a></li>
      <% end %>
    </ul>
  </nav>
</div>